//breakpoints
$tablets: 768px;
$phone: 480px;


@import 'laout/normalise';
@import 'blocks/media';
@import 'laout/fonts';
@import 'laout/base';

@import 'blocks/mixin';

@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/navigation';
@import 'blocks/telephone';
@import 'blocks/burger-menu';
@import 'blocks/page-wellcome__container';
@import 'blocks/button-order';
@import 'blocks/info-uniq';
@import 'blocks/background';
@import 'blocks/pagination';
@import 'blocks/title';
@import 'blocks/why-chocco__info';
@import 'blocks/features';
@import 'blocks/widget-reviews';
@import 'blocks/controller';
@import 'blocks/team';
@import 'blocks/menu';
@import 'blocks/menu-accordeon';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/contact';
@import 'blocks/socials';
@import 'blocks/form';
@import 'blocks/slider';
@import 'blocks/arrow';
@import 'blocks/modul';

.slider {

  &__list-dot {
    position: absolute;
    bottom: -30px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;

    & .active {
      background-color: red;
    }
  }

  &__item-dot {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: purple;
  }
}


.maincontent {
  height: 100%;
  // transform: translateY(0%);
  position: relative;
}