@import 'laout/normalise';
@import 'laout/fonts';
@import 'laout/base';

@import 'blocks/mixin';

@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/navigation';
@import 'blocks/telephone';
@import 'blocks/page-wellcome__container';
@import 'blocks/button-order';
@import 'blocks/info-uniq';
@import 'blocks/background';
@import 'blocks/pagination';
@import 'blocks/title';
@import 'blocks/why-chocco__info';
@import 'blocks/features';
@import 'blocks/widget-reviews';
@import 'blocks/controller';
@import 'blocks/team';
@import 'blocks/menu';
@import 'blocks/menu-accordeon';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/contact';
@import 'blocks/socials';
@import 'blocks/_form';

@media (max-width: 1100px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .page {
    height: 200vh;
  }

  .container {
    align-items: center;
    max-width: 550px;
  }

  .page-wellcome {

    &__info {
      align-items: center;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
      width: 100%
    }
  }

  .telephone,
  .navigation {
    display: none;
  }

  .features {
    flex-direction: column;
    width: 280px;

    &__item {
      margin-left: 0;

      &::after {
        content: none;
      }
    }
  }


  .widget-reviews {

    &__box {
      flex-direction: column;
      align-items: center;
    }

    &__container {
      text-align: center;
    }
  }

  .team {

    &__list {
      margin-left: -10px;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(50% - 10px);

      &:first-child {
        margin-left: 10px;
      }

      &:nth-child(2n) {
        margin-top: 0;
      }
    }
  }


}


@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}