@import 'laout/normalise';
@import 'laout/fonts';
@import 'laout/base';

@import 'blocks/mixin';

@import 'blocks/logo';
@import 'blocks/navigation';
@import 'blocks/telephone';





.page-wellcome__container {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.page-wellcome__info,
.page-wellcome__background {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.page-wellcome__title {
  @include text-info(AlegreyaSans-Bold, 700, normal, 60px, 60px, white);
  width: 415px;
  text-transform: uppercase;
}

.page-wellcome__text {
  @include text-info(AlegreyaSans-Regular, 400, normal, 21px, 30px, white);
  margin-top: 15px;
}

.button-order{
  z-index: 1;
  display: flex;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  @include text-info(AlegreyaSans-ExtraBold, 900, normal, 19px, 30px, #0f5a47);
}

.info-uniq {
  display: flex;
  margin-top: 30px;

  &__box {
    position: relative;
    width: 90px;
    height: 60px;
    display: flex;
    margin-left: 100px;
    @include text-info(AlegreyaSans-Regular, 400, normal, 16px, 20px, white);
  }
}

.info-uniq__box:first-child {
  margin-left: 50px;
}

.info-uniq__box-leaf::before,
.info-uniq__box-bus::before,
.info-uniq__box-meter::before {
  content: '';
  display: flex;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -50px;
}

@each $img-name in (leaf, bus, meter) {
  .info-uniq__box-#{$img-name}::before {
    background-image: url('/img/#{$img-name}.png');
  }
}

.background__picture-leaves {
  display: block;
  position: absolute;
  bottom: -55px;
  left: -50px;
  width: 110%;
}

.background__picture-berries {
  display: block;
  position: absolute;
  bottom: -40px;
  right: 0;
}

.background__picture-candy-bars {
  display: block;
  position: absolute;
  bottom: 50px;
  right: -50px;
}

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);

  &__item {
    margin-top: 5px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    &-active {
      border: 1px solid white;
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
    }

    &:before {
      content: "";
      display: flex;
      background-color: white;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-repeat: no-repeat;
    }

    &:hover {
      border: 1px solid white;
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
    }
  }
}



.why-cocco__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  @include text-info(AlegreyaSans-Bold, 700, normal, 48px, 30px, black);
  text-transform: uppercase;
  text-align: center;
}

.why-chocco__title {
  text-align: center;
  margin-bottom: 30px;
}

.why-chocco__text {
  @include text-info(AlegreyaSans-Regular, 400, normal, 18px, 30px, black);
  text-align: center;
}

.features {
  display: flex;
  margin-top: 50px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    background-color: #f2f5f4;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      width: 74px;
      height: 70px;
      background-repeat: no-repeat;
      background-image: url('/img/human.png');
    }
  }


  &__box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }
  }

  &__title {
    @include text-info(AlegreyaSans-Bold, 700, normal, 27px, 30px, black);
    margin-top: 30px;
  }

  &__text {
    @include text-info(AlegreyaSans-Light, 300, normal, 18px, 25px, #666666);
    margin-top: 30px;
    text-align: center;
  }

  &__circles {
    width: 20px;
    height: 20px;
    background-color: #f2f5f4;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: -10px;


    &::before {
      content: '';
      @extend .features__circles;
      width: 10px;
      height: 10px;
      top: 25%;
      right: -20px;

    }

    &::after {
      content: '';
      @extend .features__circles::before;
      right: 30px;
    }
  }
}

@each $name-picture in (human, smile, hand) {
  .features__picture_#{$name-picture}::before {
    background-image: url('/img/#{$name-picture}.png');
  }
}


.background-leaf {
  background-image: url('/img/leaf-phone.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 191px;
  height: 314px;
  left: 0;
  top: 225px;

}

.background-raspberries {
  background-image: url('/img/raspberries.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 161px;
  height: 315px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;

  &__box {
    background-color: #f8faf9;
    padding: 50px;
    width: 100%;
    display: flex;
    background-image: url('/img/gray-raspberry.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    position: relative;
  }

  &__picture {
    width: 260px;
  }

  &__photo {
    max-width: 100%;
    max-height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 15px;
  }

  &__title {
    @include text-info(AlegreyaSans-Medium, 500, normal, 30px, 30px, black);
  }

  &__text {
    @include text-info(AlegreyaSans-Regular, 400, normal, 18px, 20px, #666666);
    margin-top: 20px;
  }

  &__name {
    @extend .review__text;
    font-family: AlegreyaSans-Medium;
    font-weight: 500;
  }
}

.review__controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .controller__item {
    margin-left: 40px;

    &::first-child {
      margin-left: 0;
    }
  }


  .controller__link {
    display: flex;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  & .active {
    border: 5px solid #0f5a47;
    box-sizing: unset;
  }
}

.gray-raspberry {
  background-image: url('/img/gray-raspberry.png');
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 170px;
}

.white-circle {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translate(50%, 0);

}

.strawberry {
  background-image: url('/img/strawberry.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 173px;
  height: 100px;
}

.gray-leaf {
  background-image: url('/img/gray-leaf.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 134px;
  height: 422px;
}

.berries-reviews {
  background-image: url('/img/berries-reviews.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 154px;
  height: 220px;
}