$max-width: 1440px;

$bp-1920: 1920px;
$bp-1450: 1440px;
$bp-1140: 1140px;
$bp-992: 992px;
$bp-768: 768px;
$bp-640: 640px;
$bp-480: 480px;

@mixin bp1920 {
  @media screen and (max-width: $bp-1920) {
    @content;
  }
}
@mixin bp1440 {
  @media screen and (max-width: $bp-1440) {
    @content;
  }
}

@mixin bp1140 {
  @media screen and (max-width: $bp-1140) {
    @content;
  }
}

@mixin bp992 {
  @media screen and (max-width: $bp-992) {
    @content;
  }
}

@mixin bp768 {
  @media screen and (max-width: $bp-768) {
    @content;
  }
}

@mixin bp640 {
  @media screen and (max-width: $bp-640) {
    @content;
  }
}

@mixin bp480 {
  @media screen and (max-width: $bp-480) {
    @content;
  }
}
