@import '../css/layout/*.scss';
@import '../css/blocks/*.scss';


.active-dop-info {

  @include phone {    
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background: #0b2a37 ;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}