@import '../css/layout/*.scss';
@import '../css/blocks/*.scss';


table, tr,td {
   box-sizing: unset;
}



.table {
  border: 1px solid #48aae6;
  position: relative;
  border-collapse: unset;
  padding: 1px;

  &:hover .button_minus {
    opacity: 1;
  }
  & .button_minus:hover {
    opacity: .8;
  }


  &__data {
    width: 50px;
    height: 50px;
    background-color: #48aae6;
    border: 1px solid white;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f3a500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: .3s;

  &:hover {
    // box-shadow: 0 0 1px 1px #48aae6;
    opacity: .8; 
  }

  &_plus-row {
    bottom: -55px;
    left: 2px;
  }

  &_plus-data {
    top: 0;
    right: -55px;
  }

  &_minus {
    opacity: 0;
    background-color: #b20000;
    
    &::after {
      content: '';
      position: absolute;
      width: 110%;
      height: 110%;
      display: block;
    }
  }

  &_minus-row {
    left: -55px;
    transform: translateY(0);

  }
  &_minus-data {
    top: -55px;
    transform: translateX(0);

  }
}