.about {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__box {
    &:first-child {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @include bp480 {
        flex-direction: column;
        width: 100%;
      }
    }

    &:last-child {
      width: 100%;
      outline: none;
    }
  }

  &__input-box {
    width: max-content;
    background-color: red;
    width: 50%;
    margin-bottom: 0;
    
    @include bp480 {
      width: 100%;
    }
  }
}