html, body {
  height:100%;
}

* {
  box-sizing: border-box;

}
ul, li {
  list-style-type: none;

}
ul{
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  height: 100vh;
  position: relative;

   &-wellcome {
    background-image: url('/img/pattern.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.container {
  width: 940px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;

  &-head {
    position: relative;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}