html, body {
  height:100%;
}
* {
  box-sizing: border-box;
}
ul, li {
  list-style-type: none;
}
ul{
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.wrapper {
  min-width: 1200px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__container {
  flex: 1;
}

.container {
  width: 1160px;
  margin: auto;
  display: flex;
}

.header {
  background-color: #27273e;
}

.header__container {
  display:flex;
  flex-direction: column;
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 13px 0;

}

.all-content {
  padding: 20px 0 60px 0;
}

.main-content, .sidebar {
  display: flex;
}

.main-content {
  margin-left: 25px;
}

.sidebar {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: GothamPro;
  font-weight: bold;
  font-style: normal;
  font-size: 49px;
}
.content {
  width: 860px ;
}

.footer {
  background-color: #27273e;
  min-width: 1100px;
}
.footer__container {
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.box-sidebar {
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #e8e9ed;
}

.all-content_padding-20px {
  padding-top:45px;
}