.nav-active {
  display: flex !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 0, 49, .9);
  z-index: 2;

  @include bp768 {
    display: flex;
  }

  .navbar__list {
    height: 100%;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    color: white;
    font-size: 30px; 

    .navbar__item {
      margin-bottom: 50px;
    }
  }
}

.navbar {

  @include bp768 {
    display: none;
  }

  &__list {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #010D14;

    @include bp992 {
      gap: 20px;
      font-size: 14px;
    }

  }

  &__item {
    transition: .3s color;
    position: relative;

    &:hover {
      color: $orange;

      & path {
        fill: $orange;

      }
    }
  }

  &__link {
    display: flex;
  }

  &__icon {
    margin-left: 15px;
    path {
      transition: .3s fill;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;

  @include bp768 {
    display: flex;
  }

  &__row {
    height: 4px;
    background-color: #24a4ee;
    border-radius: 3px;
    transition: .3s;
    transform: translate(0,0) rotate(0deg);
    opacity: 1;
  }
}


.active .burger__row {
  width: 100%;

  &:nth-child(1) {
    transform: translate(0,15px) rotate(135deg);

  }

  &:nth-child(2) {
    opacity: 0;
    transform: translate(0,-30px) rotate(0deg);

  }

  &:nth-child(3) {
    transform: translate(0,-10px) rotate(-135deg);

  }
}


.with-submenu {
  svg{
    fill: $darkBlue;
    width: 13px;

    @include bp768 {
      fill: white;
      width: 30px;
    }
  }

  &:hover {
    .submenu {
      display: block;
      color: #010D14;
    }
  }
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $darkBlue;

    @include bp768 {
      width: 100%;
      z-index: 2;
    }

  &__item {
    transition: .3s background-color;
    &:hover {
      background-color: $orange;
      color: white;
    }
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    color: white;
    display: flex;
    padding: 10px 15px;

    @include bp768 {
      font-size: 25px;
      padding: 25px 0;
    }
  }
}




