.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 0;
  animation: pulse 1s infinite;

  &__row {
    display: flex;
    height: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    transition: .5s;
    top: 0;
  }

  @include phone {
    display: flex;
  }
}

.active {
  top: 40px;

  & .burger-menu__row {
    background: #ffffff;
  }

  & .burger-menu__row:nth-child(3) {
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(135deg);
    width: 100%;
  }
  & .burger-menu__row:nth-child(2) {
    position: absolute;
    top: -20px;
    opacity: 0;
    width: 100%;
  }
  & .burger-menu__row:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(-135deg);
    width: 100%;
  }
} 

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}