.presentation {
  display: flex;
  align-items: center;
  margin: 0 0 25px 5px;

  &__text {
    @include text-info(ptsans, normal, normal, 18px, 1.35, #262626);
    background: #ffffff;
    padding: 15px 47px 15px 20px;;

    @include tablets {
      font-size: 24px;
      padding:  20px 70px 20px 25px;
    }

    @include phone {
      font-size: 32px;
      padding:  30px 90px 30px 40px;
    }
  }
}