@font-face {
	font-family: Metropolis;
	font-display: swap;
	src: url("../fonts/Metropolis.woff2") format("woff2"), url("../fonts/Metropolis.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisextrabolditalic;
	font-display: swap;
	src: url("../fonts/Metropolisextrabolditalic.woff2") format("woff2"), url("../fonts/Metropolisextrabolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisextralight;
	font-display: swap;
	src: url("../fonts/Metropolisextralight.woff2") format("woff2"), url("../fonts/Metropolisextralight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisextralightitalic;
	font-display: swap;
	src: url("../fonts/Metropolisextralightitalic.woff2") format("woff2"), url("../fonts/Metropolisextralightitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisbolditalic;
	font-display: swap;
	src: url("../fonts/Metropolisbolditalic.woff2") format("woff2"), url("../fonts/Metropolisbolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisblackitalic;
	font-display: swap;
	src: url("../fonts/Metropolisblackitalic.woff2") format("woff2"), url("../fonts/Metropolisblackitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolislight;
	font-display: swap;
	src: url("../fonts/Metropolislight.woff2") format("woff2"), url("../fonts/Metropolislight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolislightitalic;
	font-display: swap;
	src: url("../fonts/Metropolislightitalic.woff2") format("woff2"), url("../fonts/Metropolislightitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolismedium;
	font-display: swap;
	src: url("../fonts/Metropolismedium.woff2") format("woff2"), url("../fonts/Metropolismedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolismediumitalic;
	font-display: swap;
	src: url("../fonts/Metropolismediumitalic.woff2") format("woff2"), url("../fonts/Metropolismediumitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisregularitalic;
	font-display: swap;
	src: url("../fonts/Metropolisregularitalic.woff2") format("woff2"), url("../fonts/Metropolisregularitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolissemibold;
	font-display: swap;
	src: url("../fonts/Metropolissemibold.woff2") format("woff2"), url("../fonts/Metropolissemibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolissemibolditalic;
	font-display: swap;
	src: url("../fonts/Metropolissemibolditalic.woff2") format("woff2"), url("../fonts/Metropolissemibolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisthin;
	font-display: swap;
	src: url("../fonts/Metropolisthin.woff2") format("woff2"), url("../fonts/Metropolisthin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisthinitalic;
	font-display: swap;
	src: url("../fonts/Metropolisthinitalic.woff2") format("woff2"), url("../fonts/Metropolisthinitalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisextrabold;
	font-display: swap;
	src: url("../fonts/Metropolisextrabold.woff2") format("woff2"), url("../fonts/Metropolisextrabold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisblack;
	font-display: swap;
	src: url("../fonts/Metropolisblack.woff2") format("woff2"), url("../fonts/Metropolisblack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metropolisbold;
	font-display: swap;
	src: url("../fonts/Metropolisbold.woff2") format("woff2"), url("../fonts/Metropolisbold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
