.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 180px;

  @include desctop {
    padding: 10px 100px;
  }

  @include tablet {
    padding: 10px 30px;
  }
}

.logo {
font-size: 18px;
font-weight: 800;
line-height: 18px;
letter-spacing: 0px;
text-align: left;

}