.arrow {
  &-right {
    width: 15px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    cursor: pointer;

    @include tablets {
      top: 30%;
    }

    @include phone {
      right: 0;
    }

    &::before {
      content: '';
      position:absolute;
      width: 50px;
      height: 50px;
      transform: rotate(45deg);
      border: 2px solid black;
      top: -11px;
      left:-50px;
      border-radius: 6px;
    }
  }
  &-left {
    @extend .arrow-right ;
    right: 100%;
    transform: rotate(180deg) translate(0, 45%);

    @include phone {
      right: 96%;
    }
  }
}
