.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: rem(24px);
  height: rem(24px);
  margin-right: rem(10px);
  z-index: 1000;
  position: relative;

  &__row {
    display: flex;
    height: rem(4px);
    background-color: white;
    border-radius: rem(2px);
    transition: .5s;
    top: 0;
  }

  @include tablets {
    display: flex;
  }
}

.active {
  & .burger-menu__row:nth-child(3) {
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(135deg);
    width: 100%;
  }
  & .burger-menu__row:nth-child(2) {
    position: absolute;
    top: -20px;
    opacity: 0;
    width: 100%;
  }
  & .burger-menu__row:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(-135deg);
    width: 100%;
  }
} 