.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: rem(24px);
  height: rem(24px);
  margin-right: rem(10px);

  &__row {
    display: flex;
    height: rem(4px);
    background-color: white;
    border-radius: rem(2px);
  }

  @include tablets {
    display: flex;
  }
}