.button-order{
  display: flex;
  align-items: center;
  padding: rem(10px) rem(35px);
  background-color: white;
  border-radius: rem(30px);
  text-transform: uppercase;
  box-shadow: rem(0px) rem(0px) rem(30px) rem(0px) ;
  @include text-info(AlegreyaSans-ExtraBold, 900, normal, 1.1875rem, 1.875, #0f5a47);

  &_wellcome {
    margin-top: rem(40px);

    @include tablets {
        margin: 48px 0;
    }
    @include phone {
      margin: 20px 0 40px 0;
    }
  }

  &_green {
    background-color: #0f5a47;
    color: white;
    margin-right: rem(29px);
  }

  &_green-slider {
    background-color: #0f5a47;
    color: white;
  }
}
