.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(50px);
  z-index: 2;



  &__item {
    padding-left: rem(40px);
    

    &:first-child {
      padding-left: 0;
    }
  }

  &__link {
    display: flex;
    width: rem(95px);
    height: rem(95px);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include tablets {
      width: rem(80px);
      height: rem(80px);
    }
  }
}

.active .controller__link {
  border: rem(8px) solid #0f5a47;
  box-sizing: unset;
}