
.features {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 20%;
  }
  @include phone {
    padding: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   &__icon {
     width: 100%;
     display: flex;
     justify-content: center;

     @include phone {
       margin-right: 10px;
     }
   }

  &__picture {
    background-color: #f2f5f4;
    border-radius: 50%;
    width: rem(130px);
    height: rem(130px);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: rem(70px);
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:after {
      content: '';
      background-image: url("/img/gray-circle.png");
      width: rem(67px);
      height: rem(21px);
      position: absolute;
      top: 20%;
      right: rem(-70px);
    }

    &:last-child:after {
      background-image: none;
    }

    @include tablets {
      margin: 0 0 rem(30px) 0 ;

      &::after {
        content: none;
      }
    }
    @include phone {
      flex-direction: row;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include phone {
      text-align: left;
    }
  }

  &__title {
    @include text-info(AlegreyaSans-Bold, 700, normal, 1.6875rem, 1.875rem, black);
    margin-top: rem(20px);

    @include phone {
      margin: 0;
    }
  }

  &__text {
    @include text-info(AlegreyaSans-Light, 300, normal, 1.125rem, 1.5625rem, #666666);
    margin-top: rem(15px);
    text-align: center;

    @include phone {
      text-align: left;
    }
  }
}

.features__human {
  fill: #f2f5f4;
  fill-rule: evenodd;
  stroke: black;
  
  width: rem(70px);
  height: rem(70px);
}

.features__smile {
  @extend .features__human ;
}

.features__hand {
 @extend .features__human ;
 width: rem(85px);
}