
.features {
  display: flex;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   &__icon {
     width: 100%;
     display: flex;
     justify-content: center;
   }

  &__picture {
    background-color: #f2f5f4;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:after {
      content: '';
      background-image: url("/img/gray-circle.png");
      width: 67px;
      height: 21px;
      position: absolute;
      top: 20%;
      right: -70px;
    }

    &:last-child:after {
      background-image: none;
    }
  }

  &__title {
    @include text-info(AlegreyaSans-Bold, 700, normal, 1.6875rem, 1.875rem, black);
    margin-top: 30px;
  }

  &__text {
    @include text-info(AlegreyaSans-Light, 300, normal, 1.125rem, 1.5625rem, #666666);
    margin-top: 15px;
    text-align: center;
  }
}

.features__human {
  fill: #f2f5f4;
  fill-rule: evenodd;
  stroke: black;
  
  width: 70px;
  height: 70px;
}

.features__smile {
  @extend .features__human ;
}

.features__hand {
 @extend .features__human ;
 width: 85px;
}