.form {

  &__container {
    display: flex;
    margin-left: rem(-20px);
  }

  &__left {
    flex: 1;
  }

  &__right {
    flex: 1;
    margin-left: rem(20px);
  }

  &__contacts {
    flex: 1;
    display: flex;
    margin-bottom: rem(10px);
  }

  &__row {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: rem(20px);
  }

  &__text-input {
    display: flex;
    @include text-info(AlegreyaSans-Regular, 400, normal, 1.125rem, 1.875rem, #0f5a47);
  }

  &__input {
    width: 100%;
    padding: rem(13px) rem(5px);
    @include text-info("Open-Sans", 400, normal, 1.125rem, 1.875rem, black);

    &:focus {
      border: rem(3px) solid #dde3bd;
      outline: none;
    }
  }

  &__row-textarea {
    @extend .form__row;
    margin: 0 0 rem(20px) 0;
  }

  &__comment {
    @extend .form__input;
    height: rem(180px);
    resize: none;
  }

  &__radio-box {
    display: flex;
    flex: 1;
  }

  &__radio-button {
    display: flex;
    margin-right: rem(27px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__control {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
  }

  &__not-call {
    margin-bottom: rem(42px);
  }

  &__reset {
    @include text-info(AlegreyaSans-Regular, 400, normal, 1.125rem, 1.875rem, #0f5a47)
  }

  
  &__radio {
    display: none;

    &:checked+.form__hidden:before {
      width: rem(12px);
      height: rem(12px);
    }
  }

  &__hidden {
    display: flex;
    width: rem(25px);
    height: rem(25px);
    background-color: white;
    border-radius: 50%;
    margin-right: rem(7px);
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      display: flex;
      width: 0;
      height: 0;
      background-color: #0f5a47;
      border-radius: 50%;
      transition: .3s;
    }

    &_checkbox {
      border-radius: 0;

      &:before {
       content: '';
      background-image: url('/img/check.png');
      display: flex;
      width: 0;
      height: 0;
      transition: .3s;
      background-color: transparent;
      border-radius: 0;
      }
    }
  }

  &__checkbox {
    display: none;
    
    &:checked + .form__hidden_checkbox::before {
      width: rem(11px);
      height: rem(9px);
      background-size: cover;
    }
  }

  @include tablets {
    &__container {
      flex-direction: column;
      margin-left: -15px;
    }

    &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &__row-textarea {
      width: 100%;
      margin-bottom: rem(50px);
    }

    &__radio-box {
      margin-bottom: rem(25px);
    }
  }
}