.info-uniq {
  display: flex;
  width: 50%;

  &__item {
    width: 33%;
    display: flex;
    margin-right: rem(45px);
    @include text-info(AlegreyaSans-Regular, 400, normal, 1rem, 1.25rem, white);
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__svg-box {
    width: rem(45px);
    height: rem(50px);
    margin-right: rem(10px);
  }

  &__svg {
    width: rem(43px);
    height: rem(50px);
    fill: transparent;
    stroke: #b0f7ff;
  }

  @include tablets {
    width: 75%;
  }

  @include phone {
    width: 100%;
    
    &__item {
      margin-right: 5%;
    }
  }
}
