.logo {
  display: flex;
  width: rem(50px);
  height: rem(40px);
  font-weight: 500;
  font-size: rem(24px);
  line-height: rem(21px);
  text-transform: uppercase;
  color: white;
  cursor: default;
  @include text-info (MuseoSansCyrl-500, 500, normal, 1.5rem, 1.25rem, white);

  &_active {
    @extend .logo ;
    position: fixed;
    z-index: 1001;
    top: rem(25px);
    cursor: pointer;
  }
}

