
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .container {
    align-items: center;
    max-width: 472px;

    &_head::after, &_head::before{
      content: none;
    }
  }

  .page-wellcome {
    background: 
    url('/img/leave.png') 22% 36%,
    url('/img/leaves-768.png') 66% 32%,
    url('/img/berries-768.png') 50% 30%,
    url('/img/candy.png') 44% 9%,
    url('/img/texture.png') top right,
     #61c4d9 ;
    background-repeat: no-repeat;
    background-size: 6%,31%,50%,52%,65%;

    & .container {
      max-width: none;
    }

    &__info {
      align-items: center;
      align-self: flex-end;
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
      width: 50%;
    }
  }

  .button-order {
    
    &_wellcome {
      margin: 48px 0;
    }
  }

  .telephone,
  .navigation {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .info-uniq {
    width: 75%;

    &__item {
      width: initial;
    }
  }

  .why-chocco {

    &__info {
      margin-bottom: 40px;
    }
  }

  .title {

    &_why-chocco {
      margin-bottom: 10px;
    }

    &_team {
      margin-bottom: 50px;
    }

    &_form {
      margin-bottom: 30px;
    }
  }

  .features {
    flex-direction: column;
    padding: 0 20%;

    &__item {
      margin: 0 0 30px 0 ;

      &::after {
        content: none;
      }
    }
  }


  .widget-reviews {

    &__box {
      flex-direction: column;
      align-items: center;
      padding: 70px 50px 0 50px;
    }

    &__picture {
      width: 206px;
      height: 210px;
    }

    &__container {
      text-align: center;
    }
  }

  .controller {

    &__link {
      width: 80px;
      height: 80px;
    }
  }

  .team {

    &__list {
      margin-left: -10px;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(50% - 15px);

      
      &:first-child {
        margin-left: 15px;
      }

      &:nth-child(2n) {
        margin-top: 0;
      }
    }
  }

  .form {

    &__container {
      flex-direction: column;
      margin-left: -15px;
    }

    &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &__row-textarea {
      width: 100%;
      margin-bottom: 50px;
    }

    &__radio-box {
      margin-bottom: 25px;
    }
  }

  .footer .container {
    max-width: 720px;
  }

  .contact {
    & .telephone {
      display: flex;
    }
  }

  .pagination {
    display: none;
  }
}
