.menu-accordeon {
  display: flex;
  width: 75%;
  justify-content: flex-end;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;

  }

  &__link {
    display: flex;
    min-width: rem(100px);
    align-items: flex-end;
    justify-content: center;
    background-position: 30% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;



    &:before {
      content: '';
      display: flex;
      background-color: #000000;
      width: 100%;
      height: 100%;
      opacity: .5;
      position: absolute;
    }
  }

  &__title {
    display: flex;
    width: 0;
    transform: rotate(-90deg);
    padding-left: rem(50px);
    white-space: nowrap;
    @include text-info (AlegreyaSans-Medium, 500, normal, 3.125rem, 1, white);
  }

  &__hidden-box {
    width: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    opacity: .75;
  }

  &__hidden-text {
    z-index: 1;
    @include text-info (AlegreyaSans-Regular, 400, normal, 1rem, 1.5rem, white);
  }

  & .active {
    @include phone {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1;
    }
  }
}

.active {

  & .menu-accordeon__hidden-box {
    width: 100%;
    padding: rem(60px) rem(30px);
  }
}

.cross {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  width: 18px;
  height: 18px;
  flex-direction: column;


  &__left {
    display: flex;
    width: 100%;
    height: 4px;
    background: rgb(128, 128, 128);
    border-radius: 4px;
    transform: rotate(135deg);
    position: absolute;
  }

  &__right {
    @extend .cross__left ;
    transform: rotate(-135deg);
  }
}