.navigation {
  &__list {
    display: flex;
  }
  
  &__item {
    margin-left: rem(27px);
  
    &:first-child {
      margin-left: 0;
    }
  }
  
  &__link {
    @include text-info (AlegreyaSans-Regular, 400, normal, 1.125rem, 1.875rem, white);
  }
  
  @include tablets {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2f3234;
    justify-content: center;
    transition: .5s;

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      margin: 0 0 rem(15px) 0;
    }

    &__link {
      font-size: rem(36px);
      line-height: rem(72px);
    }
  }

  
}

