.navigation__list {
  display: flex;
}

.navigation__item {
  margin-left: 27px;

  &:first-child {
    margin-left: 0
  }
}

.navigation__link {
  @include text-info (AlegreyaSans-Regular, 400, normal, 1.125rem, 1.875rem, white);

}