
.pagination {
  position: fixed;
  right: rem(20px);
  top: 50%;
  transform: translate(0, -50%);

  &__item {
    margin-top: rem(5px);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(20px);
    height: rem(20px);

    &-active {
      border: rem(1px) solid white;
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
    }

    &:before {
      content: "";
      display: flex;
      background-color: white;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background-repeat: no-repeat;
    }

    &:hover {
      border: rem(1px) solid white;
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
    }
  }

  @include tablets {
    display: none;
  }
}
