.page-wellcome__container {
  display: flex;
  align-items: center;
  flex: 1;
  // width: 50%;
}

.page-wellcome__info,
.page-wellcome__background {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.page-wellcome__title {
  @include text-info(AlegreyaSans-Bold, 700, normal, 3.74rem, 3.74rem, white);
  width: 100%;
  text-transform: uppercase;
}

.page-wellcome__text {
  @include text-info(AlegreyaSans-Regular, 400, normal, 1.3125rem, 1.3125rem, white);
  margin-top: 10px;
  width: 80%;
}