
.pagination {
  position: fixed;
  right: rem(20px);
  top: 50%;
  transform: translate(0, -50%);

  &__list {
    & .active {
      border: rem(1px) solid greenyellow;
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
    }
  }

  &__item {
    margin-top: rem(5px);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(20px);
    height: rem(20px);

   

    &:before {
      content: "";
      display: flex;
      background-color: greenyellow;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background-repeat: no-repeat;
    }

    &:hover {
      border: rem(1px) solid rgb(255, 0, 170);
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
    }
  }

  @include tablets {
    display: none;
  }
}
