.slider {
  display: flex;
  align-items: center;
  width: 100%;

  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__div-hidden {
    overflow: hidden;
    position: relative;
  }

  &__full-width {
    width: 200%;
    display: flex;
    position: relative;
    right: 0;
    transition: .5s;
  }

  &__item {
    display: flex;
    position: relative;
    flex: 1;

    @include tablets {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__picture {
    flex: 1;
    margin-right:rem(50px);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include tablets {
      margin: 0;
    }

    @include phone {
      width: 70%;
    }

    // &:before {
    //   content: '';
    //   background: url('/img/leaves-slider.png') no-repeat;
    //   width: 462px;
    //   height: 326px;
    //   position: absolute;
    //   top: 28%;
    //   left: -3%;

    //   @include tablets {
    //     left: -20%;
    //   }

    //   @include phone {
    //     left: -18%;
    //     top: 25%;
    //     background-size: 70%;
    //   }
    // }
  }

  &__info {
    flex: 1;
    padding-top: rem( 45px);

    @include tablets {
      text-align: center;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include text-info(AlegreyaSans-Bold, 700, normal, rem(36px), 1.2, black);
    text-transform: uppercase;
    margin:0 0 rem( 30px) 0;
  }

  &__box {
    margin-bottom:rem( 40px);
  }

  &__composition {
    margin-bottom:rem( 20px);
    @include text-info(AlegreyaSans-Medium, 500, normal, rem(24px), 1, rgb(50, 50, 50));
  }

  &__text {
    @include text-info (AlegreyaSans-Regular, 400, normal,rem(18px), 1.3, rgb(50, 50, 50));
    margin-top:rem( 30px);
  }

  &__add-info {
    @include text-info (AlegreyaSans-Regular, 400, normal,rem(18px), 1.3, black);
    display: flex;
    margin-bottom:rem( 40px);

    @include tablets {
      justify-content: center;
      text-align: left;
    }

    & span {
      margin-right:rem( 50px);

      &:last-child {
        margin: 0;
      }
    }
  }

  &__buy {
    display: flex;
    justify-content: flex-start;

    @include tablets {
      justify-content: center;
    }
  }

  &__cost {
    @include text-info(AlegreyaSans-Light, 300, normal, rem(60px), rem(60px), black);
    text-transform: uppercase;
    margin-right:rem( 30px);
  }
}


