.socials {
  width: 50%;

  &__list {
    display: flex;
    justify-content: flex-end;

    @include phone {
      justify-content: center;
    }
  }

  &__item {
    margin-left: rem(20px);

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: flex;
  }

  &__icon {
    width: rem(20px);
    height: rem(20px);
    fill: #b2b2b2;

    &:hover {
      fill: initial;
    }
  }
}