.telephone {
  display: flex;
  align-items: center;
  @include text-info(AlegreyaSans-Regular, 400, normal, 1.5rem, 1.875rem, white);

  &_footer {
    color: #0f5a47;

    & .telephone__icon {
      fill: #0f5a47;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    fill: white;
    margin-right: 5px;
  }
}
