.title {
  @include text-info(AlegreyaSans-Bold, 700, normal, 3rem, 1, black);
  text-transform: uppercase;
  text-align: center;

  &_why-chocco {
    text-align: center;
    margin-bottom: rem(15px);

    @include tablets {
      margin-bottom: rem(10px);
    }

    @include phone {
      font-size: 2.5rem;
    }
  }

  &_reviews{
    margin-bottom: rem(50px);
  }

  &_team {
    margin-bottom: rem(75px);
    @include tablets {
      margin-bottom: rem(50px);
    }
  }

  &_menu {
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  &_form {
    color: #0f5a47;
    margin-bottom: rem(45px);
    @include tablets {
      margin-bottom: rem(30px);
    }
    @include phone {
      font-size: 2.5rem;
    }
  }
}