.widget-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__box {
    padding: rem(50px);
    width: 100%;
    display: flex;
    background: url('/img/gray-raspberry.png') top right no-repeat,
    url('/img/half-circle.png') 50% -45px no-repeat,
    #f8faf9;
    background-size: auto,auto;
    position: relative;

    @include tablets {
      flex-direction: column;
      align-items: center;
      padding: rem(70px) rem(50px) 0 rem(50px);
    }

    @include phone {
      background-size: 28%, auto;
    }
  }

  &__picture {
    width: 16rem;
    height: 16rem;
    overflow: hidden;

    @include tablets {
      width: rem(206px);
      height: rem(210px);
    }
  }

  &__photo {
    max-width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: rem(500px);
    padding: rem(25px) rem(15px);

    @include tablets {
      text-align: center;
    }
  }

  &__title {
    @include text-info(AlegreyaSans-Medium, 500, normal, 1.875rem, 1.875rem, black);
  }

  &__text {
    @include text-info(AlegreyaSans-Regular, 400, normal, 1.125rem, 1.375rem, #666666);
    margin-top: rem(23px);
  }

  &__name {
    @extend .widget-reviews__text;
    font-family: AlegreyaSans-Medium;
    font-weight: 500;
  }
}

