.page-wellcome {
  background: url('/img/candy.png') 85% 50%,
  url('/img/texture.png') bottom right,
   #61c4d9 ;
  background-repeat: no-repeat;
  background-size: 40%,40%;

  @include tablets {
    background:
    url('/img/leave.png') 22% 36%,
    url('/img/leaves-768.png') 66% 32%,
    url('/img/berries-768.png') 50% 30%,
    url('/img/candy.png') 44% 9%,
    url('/img/texture.png') top right,
    #61c4d9;
  background-repeat: no-repeat;
  background-size: 6%, 31%, 50%, 52%, 65%;
  }

  @include phone {
    background: 
    url('/img/leave.png') 6% 42%,
    url('/img/leaves-768.png') 95% 37%,
    url('/img/berries-768.png') 66% 36%,
    url('/img/candy.png') 42% 14%,
    url('/img/texture.png') top right,
     #61c4d9 ;
    background-repeat: no-repeat;
    background-size: 10%,54%,80%,82%,92%;
  }
}

.container_head::after {
  content: '';
  background-image: url('/img/leaves.png');
  background-repeat: no-repeat;
  width: rem(464px);
  height: rem(343px);
  position: absolute;
  bottom: rem(-40px);
  right: -10%;

  @include tablets {
    content: none;
  }
}

.container_head::before {
  content: '';
  background-image: url('/img/leave.png');
  background-repeat: no-repeat;
  width: rem(59px);
  height: rem(112px);
  position: absolute;
  bottom: rem(-50px);
  left: rem(-50px);

  @include tablets {
    content: none;
  }
}

.why-chocco::after {
  content: '';
  background-image: url('/img/raspberries.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: rem(-120px);
  left: 0;
  width: rem(161px);
  height: rem(315px);

  @include phone {
    bottom: -8.5rem;
    left: -20px;
    background-size: 90%;
  }
}

.why-chocco {
  background-image: url('/img/leaf-phone.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  
  @include phone {
    background-position: 0 23%;
    background-size: 40%;
  }

}

.reviews {
  background: url('/img/strawberry.png') top right no-repeat;

  @include phone {
  background: url('/img/strawberry.png') 108% top no-repeat;
  background-size: 30%; 
  }

  &:before {
    content: '';
    background-image: url('/img/gray-leaf.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: rem(-200px);
    left: 0;
    width: rem(134px);
    height: rem(422px);

    @include phone {
      bottom: -14.5rem;
      left: -20px;
      background-size: 80%;
    }
  }

  &:after {
    content: '';
    background-image: url('/img/berries-reviews.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: rem(-100px);
    left: 0;
    width: rem(154px);
    height: rem(220px);

    @include phone {
      left: -20px;
      background-size: 80%
    }
  }
}

.team::after {
  content: '';
  background: url('/img/raspberry.png') no-repeat;
  position: absolute; 
  left: 0;
  bottom: rem(-50px);
  width: rem(104px);
  height: rem(114px);
  z-index: 2;

  @include phone {
    background-size: 80%;
  }
}

.page_form {
  background: url('/img/currant.png') 3% 90% no-repeat,
   url('/img/leaf-form.png') right 80% no-repeat,
   url('/img/bg-form.jpg');
   background-size: auto,auto,cover;

   @include phone {
    background-size: 0,0,cover; 
   }
}

.page_form::after {
  content: '';
  background: url('/img/Blackberry.png') no-repeat;
  position: absolute;
  right: 0;
  top: rem(-130px);
  width: rem(197px);
  height: rem(264px);
  z-index: 1;

  @include phone {
    top: -9rem;
    background-size: 70%;
    background-position: right;
  }
}
