.info-uniq {
  display: flex;
  width: 55%;


  &__item {
    width: 33%;
    height: 60px;
    display: flex;
    margin-right: 45px;
    @include text-info(AlegreyaSans-Regular, 400, normal, 16px, 20px, white);
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__svg-box {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  &__svg {
    width: 50px;
    height: 50px;
    fill: transparent;
    stroke: #b0f7ff;
  }
}
