.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;

  @include tablets {
    .container {
      max-width: 720px;
    }
  }

  @include phone {
    height: 20%;
  }
}