

.slider {
  margin-bottom: 100px;
  position: relative;

  &__container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-width: 1900px;
  }

  &__list {
    display: flex;
    width: 10000px;
    transition: 1s;
  }

  &__item {
    height: 670px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    background: url('../img/slider_picture.jpg') top right no-repeat;
    background-size: contain;
  }

  &__title {
    @include text-info(MyriadProRegular, 400, normal, 50px, 1.25, #42515b);
    width: 32%;
    margin-top: 85px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px
  }

  &__text {
    @include text-info(ubuntulight, 300, normal, 16px, 1, #42515b);
    margin-bottom: 57px;
  }
}