.breadcrumbs__list {
  display: flex;
  margin-left:6px;
}
.breadcrumbs__item::before {
  content: '/'
}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__link {
  text-decoration: underline;
  color: #ec1e79;
  font-family: GothamPro;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  opacity: .8;
}

.breadcrumbs__item_active .breadcrumbs__link {
  color: black;
  text-decoration: none;
}

.breadcrumbs_margin-bottom {
  margin-bottom: 21px;
}