.menu {
  display: flex;
}

.menu__item {
  font-size: 12px;
  font-family: Gothampro;
  font-weight: bold;
  font-style: normal; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-left: 90px;
}

.menu__item:first-child{
  margin: 0;
}

.menu__link {
  text-decoration: none; 
  line-height: 1.5;
  color: #ec1e79;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  transition: .5s;
}

.menu__icon-main::before, .menu__icon-reviews::before,
 .menu__icon-tariffs::before{
  display: flex;
  margin-right:18px;
  content: '';
  width: 20px;
  height: 18px;
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-repeat: no-repeat;
  transition: .5s;
}

.menu__icon-main::before {
  background-position: -47px -86px;
}

.menu__icon-reviews::before {
  background-position: -50px -10px;
}

.menu__icon-tariffs::before {
  background-position: -90px -10px;
}

.menu__icon-main::after, .menu__icon-reviews::after,
 .menu__icon-tariffs::after{
  display: flex;
  margin-right:18px;
  content: '';
  width: 20px;
  height: 18px;
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
}

.menu__icon-main::after {
  background-position:-10px -86px;
}

.menu__icon-reviews::after {
  background-position: -10px -10px;
}

.menu__icon-tariffs::after {
  background-position: -50px -48px;
}


.menu__item-active .menu__link,.menu__link:hover {
  color: black;
  text-decoration: underline;
}

.menu__icon-main:hover::before, .menu__icon-reviews:hover::before, .menu__icon-tariffs:hover::before {
  opacity: 0;
} 
.menu__icon-main:hover::after, .menu__icon-reviews:hover::after, .menu__icon-tariffs:hover::after {
  opacity: 1;
} 

.menu__item-active .menu__icon-main::before {
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-position: -10px -86px;
}
.menu__item-active .menu__icon-reviews::before {
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-position: -10px -10px;
}
.menu__item-active .menu__icon-tariffs::before {
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-position: -50px -48px;
}

.menu__item-main  .menu__link{
  color: white;
}

.menu__item-main .menu__icon-main::before {
  background-position: -47px -86px;
}

.menu__item-main .menu__icon-reviews::before {
  background-position: -10px -48px;
}

.menu__item-main .menu__icon-tariffs::before {
  background-position: -90px -46px;
}
.menu__item-main .menu__icon-main::after {
  background-position: -47px -86px;
}

.menu__item-main .menu__icon-reviews::after {
  background-position: -50px -10px;
}

.menu__item-main .menu__icon-tariffs::after {
  background-position: -90px -10px;
}

.menu__item-active-main .menu__link,.menu__item-main .menu__link:hover {
  color: #ec1e79;
  text-decoration: underline;
}

.menu__item-active-main .menu__icon-main::before {
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-position: -47px -86px;
  
}
.menu__item-active-main .menu__icon-reviews::before {
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-position: -50px -10px;
}
.menu__item-active-main .menu__icon-tariffs::before {
  background-image: url('/img/fragments/social/css_sprites_menu.png');
  background-position: -90px -10px;
}