.pagination {
  justify-content: center;
}

.pagination,.pagination__controls,.pagination__list{
  display: flex;
  align-items: center;
}

.pagination__info {
  color: #656464;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.pagination__controls {
  margin-left: 10px;
}

.pagination__list {
  margin: 0 10px;
}
.pagination__link {
  display: flex;
  padding: 7px 10px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  transition: .5s;
}

.pagination__link:hover {
  color:#aa1137;
}

.pagination__item_active .pagination__link {
  background-color: #27273e;
  border-radius: 4px;
  pointer-events: none;
  color: white;
}

.pagination__next, .pagination__prev {
  width: 6px;
  height: 10px;
  background-image: url('../..//img/fragments/vector.png');
}
.pagination__prev {
  transform: rotate(180deg)
}

.pagination__prev_no-active {
  opacity: .3;
  pointer-events: none;
}

.pagination__item_active_red .pagination__link {
  background-color: #27273e;
  border-radius: 4px;
  pointer-events: none;
  color:#ec1e79;
}