.rectangle {
  background-color: #27273e;
  background-image: url('/img/fragments/pattern.png');
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle__text{
  padding: 20px 0;
  color: white;
  font-family: GothamPro;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

.rectangle__text span {
  color: #ec1e79;
  font-weight: bold;
}